/_pycache_
/.pytest_cache
/.vscode
/jesse.egg-info
/.idea
/storage/*.key
/storage/*.sqlite
/storage/*.gz
.DS_Store
/.vagrant
*.pyc
/__pycache__
/venv
__pycache__
.vscode
/dist
/build
/*.egg-info
/*.egg
testing-*.py
