arrow==1.2.1
blinker==1.4
click==8.0.3
matplotlib==3.7.4
mplfinance==0.12.8b6
newtulipy==0.4.6
numpy==1.23.0
numpy_groupies==0.9.14
pandas==1.4.0
peewee==3.14.8
psycopg2-binary==2.9.9
pydash==6.0.0
fnc==0.5.3
pytest==6.2.5
PyWavelets==1.2.0
quantstats==0.0.47
requests==2.32.0
scipy==1.12.0
statsmodels==0.14.0
TA-Lib==0.4.31
tabulate==0.8.9
timeloop==1.0.2
websocket-client==1.8.0
wsaccel==0.6.6
simplejson==3.16.0
aioredis==1.3.1
redis==4.1.4
fastapi==0.111.1
uvicorn==0.29.0
websockets>=10.0.0
python-dotenv==0.19.2
aiofiles==0.7.0
jesse-dydx-v3-python==1.0.4
numba==0.58.1
PyJWT==2.8.0
cryptography==42.0.5
