psycopg2-binary==2.8.4
pytest-watch==4.2.0
pytest==4.5.0
Click==7.0
arrow==0.13.2
requests==2.22.0
peewee==3.9.5
pydash==4.7.5
numpy==1.16.4
pandas==0.24.2
tabulate==0.8.3
timeloop==1.0.2
websocket-client==0.57.0
TA-Lib==0.4.17
matplotlib==3.1.2
redis==3.3.6
empyrical==0.5.3
blinker==1.4.0
