psycopg2-binary==2.8.6
pytest-watch==4.2.0
pytest==6.1.2
Click==7.1.2
arrow==0.17.0
requests==2.25.0
peewee==3.14.0
pydash==4.9.0
numpy==1.19.4
pandas==1.1.4
tabulate==0.8.7
timeloop==1.0.2
websocket-client==0.57.0
TA-Lib==0.4.19
matplotlib==3.3.3
empyrical==0.5.5
blinker==1.4.0
tulipy==0.4.0
scipy==1.5.4
