.group:hover .tab-text-fade-hover[data-v-54b92cce],.tab-text-fade-active[data-v-54b92cce]{mask-image:linear-gradient(90deg,#000 calc(100% - 32px),transparent);-webkit-mask-image:linear-gradient(90deg,#000 calc(100% - 32px),transparent)}
