/_pycache_
/.pytest_cache
/.vscode
/jesse.egg-info
/.idea
/storage/*.key
/storage/*.sqlite
/storage/*.gz
.DS_Store
/.vagrant
/storage/temp/*.pickle
/storage/trades/*.json
/storage/trading-view-pine-editor/*.txt
/storage/temp/optimize/*.pickle
/storage/orders/*.json
/storage/logs/trades/*.json
/storage/logs/collect.txt
/storage/logs/optimize.txt
/storage/logs/live-trade.txt
/storage/logs/paper-trade.txt
/storage/genetics/*.txt
/storage/csv/*.csv
/storage/json/*.json
/storage/charts/*.png
*.pyc
/__pycache__
/venv
storage/logs/collect.txt
__pycache__
.vscode
/.ipynb_checkpoints
/plugins
config.py
routes.py
